%%{erl_opts, [
%%	    ,{d, 'LAGER_SYNC_NOTIFY'} % set lager to hard-code sync mode
%%	    ,{d, 'LAGER_ASYNC_NOTIFY'} % set lager to hard-code async mode
%%	   ]}.

{deps_dir, "deps"}.

{deps,
 [{lager, ".*", {git, "git://github.com/aleksandr-vin/lager.git",
		 {branch, "aleksandr-vin/dispatch_log_async_mode+fix-rebar-erl_opts"}}},
  {bencharka, ".*", {git, "git://github.com/aleksandr-vin/bencharka.git", {branch, "master"}}}]}.

{cover_enabled, true}.
